[credential "https://github.com"]
	helper = 
	helper = !/home/_404/.local/bin/gh-credential-helper
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/_404/.local/bin/gh-credential-helper
[user]
	name = _404
	email = fatb4f@gmail.com
[init]
	defaultBranch = main
