# generated domain runtime metadata: @DOMAIN_ID@
# shellcheck shell=sh

DOMAIN_ID='@DOMAIN_ID@'
DOMAIN_NS='@DOMAIN_NS@'
DOMAIN_STAGE='@DOMAIN_STAGE@'
DOMAIN_RING='@DOMAIN_RING@'
DOMAIN_PROVIDER='@PROVIDER@'
DOMAIN_PRIMARY_BIN='@DOMAIN_BIN@'
DOMAIN_BINS='@DOMAIN_BINS@'
DOMAIN_HOST_PACKAGE='@HOST_PACKAGE@'
DOMAIN_HOST_PACKAGES='@HOST_PACKAGES@'
DOMAIN_HOST_PACKAGE_ARCH='@HOST_PACKAGE_ARCH@'
DOMAIN_HOST_PACKAGES_ARCH='@HOST_PACKAGES_ARCH@'
DOMAIN_HOST_PACKAGE_DEBIAN='@HOST_PACKAGE_DEBIAN@'
DOMAIN_HOST_PACKAGES_DEBIAN='@HOST_PACKAGES_DEBIAN@'
DOMAIN_NPM_PACKAGE='@NPM_PACKAGE@'
DOMAIN_CARGO_CRATE='@CARGO_CRATE@'
DOMAIN_GO_MODULE='@GO_MODULE@'
DOMAIN_OUTPUT_DIR='@DOMAIN_OUTPUT_DIR@'

: "${DOTS_REPO:=@DOTS_REPO@}"
: "${DOTS_DIR:=@DOTS_DIR@}"
: "${DOTS_HOME:=@DOTS_HOME@}"
: "${XDG_CONFIG_HOME:=@XDG_CONFIG_HOME@}"
: "${XDG_DATA_HOME:=@XDG_DATA_HOME@}"
: "${XDG_OPT_HOME:=@XDG_OPT_HOME@}"
: "${XDG_STATE_HOME:=@XDG_STATE_HOME@}"
: "${XDG_CACHE_HOME:=@XDG_CACHE_HOME@}"
: "${TOOL_PATH_HOME:=@TOOL_PATH_HOME@}"
: "${TOOL_PREFIX_HOME:=${TOOL_PATH_HOME%/bin}}"
[ "$TOOL_PREFIX_HOME" != "$TOOL_PATH_HOME" ] || TOOL_PREFIX_HOME=$(dirname "$TOOL_PATH_HOME")
case $TOOL_PATH_HOME in
  */bin) ;;
  *) TOOL_PATH_HOME=$HOME/.local/bin; TOOL_PREFIX_HOME=${TOOL_PATH_HOME%/bin} ;;
esac

: "${DOMAIN_PREFIX:=@DOMAIN_PREFIX@}"
: "${DOMAIN_STATE:=@DOMAIN_STATE@}"
: "${DOMAIN_CACHE:=@DOMAIN_CACHE@}"
: "${DOMAIN_BIN_HOME:=@DOMAIN_BIN_HOME@}"
: "${DOMAIN_SHARE_HOME:=@DOMAIN_SHARE_HOME@}"

DOMAIN_REQUIRES_READY='@DOMAIN_REQUIRES_READY@'

DOMAIN_FILES='@DOMAIN_FILES@'
DOMAIN_COPIES='@DOMAIN_COPIES@'
DOMAIN_LINKS='@DOMAIN_LINKS@'
DOMAIN_CHECKS='@DOMAIN_CHECKS@'
